.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
}

.bot-card {
  background-color: #eeccf6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.bot-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.bot-name {
  margin-top: 10px;
  font-size: 18px;
}

.bot-class {
  margin-top: 5px;
  font-size: 14px;
  color: #410825;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
}

button {
  margin-top: 10px;

  padding: 8px 16px;
  background-color: #ff4558;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}

button:hover {
  background-color: #45a049;
}

.link {
  margin-top: 10px;
  padding: 6px 6px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
}
