.filter-bar {
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.filter-bar h3 {
  margin-right: 10px;
  margin-left: 25px;
  font-size: 20px;
  margin-top: 30px;
}

.filter-option {
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.filter-option label {
  margin-left: 3px;
}
