.sort-bar {
  display: flex;
  align-items: center;
}

.sort-bar h3 {
  margin-right: 10px;
  margin-top: 30px;
  margin-right: 20px;
  font-size: 20px;
}

.sort-bar button {
  margin-right: 10px;
  padding: 6px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sort-bar button:hover {
  background-color: #45a049;
}
